:host {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que tenga altura completa para centrar verticalmente */
    background-color: #1e1e1e; /* Opcional: un fondo oscuro para que resalten las piezas */
}