.row{
    display: flex;
    flex-direction: row;
}

.board{
    display: grid ;
    place-items: center;
    position: fixed;  
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

/* .modal {
    display: block;
    position: sticky;  
    height: 300px;
    top:0px;
    left: 0px;
} */